* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-shadow: none;
    overflow-x: hidden;
    text-decoration: none;
    list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li {
    color: white;
    font-family: quiche-sans, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 800;
}

p,
li {
    font-weight: 400;
}

body {
    background-color: rgb(73, 73, 73);
    min-height: 100vh;
    width: 100vw;
}

@media only screen and (max-height: 897px) {

    /* Navigation */
    nav {
        position: fixed;
        bottom: 0;
        height: 7.5vh;
        width: 100vw;
        background-color: rgb(218, 71, 255);

        display: none;
    }

    nav ul {
        display: flex;
    }

    nav ul a {
        width: 100vw;
        display: flex;
        justify-content: space-around;
    }

    nav ul a li {
        display: flex;
        height: 7.5vh;
        align-items: center;
    }

    /* Welcome popup */
    #welcomePopup {
        background-color: #ffffff;

        width: 70%;
        margin: auto;
        padding: 5%;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        display: none;
    }

    #welcomePopup p,
    #welcomePopup h2 {
        color: black;
    }

    #welcomePopup h2 {
        margin-bottom: 1em;
    }

    #welcomeClose {
        position: absolute;
        right: 15px;
        top: 10px;

        font-size: 30px;
    }

    #askLandscape {
        position: absolute;
        flex-direction: column;
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 10;
        background-color: rgb(43, 43, 43);
        height: 100vh;
        width: 100vw;

        display: none;
    }

    .phone {
        height: 15vh;
        width: 55vw;
        margin-bottom: 15vh;
        border: 5px solid white;
        border-radius: 10px;
        animation: rotate 2s ease-in-out infinite alternate;
    }

    @keyframes rotate {
        0% {
            transform: rotate(0deg)
        }

        50% {
            transform: rotate(-90deg)
        }

        100% {
            transform: rotate(-90deg)
        }
    }

    #houseplanpopup {
        margin: 10vh 10vw 10vh 10vw;
        padding: 3%;
        background-color: rgb(43, 43, 43);
        border-radius: 10px;
        width: 80vw;
        display: none;
    }

    #firstpopupquit {
        margin-left: 73vw;
    }

    .firstpopup {
        display: flex;
        flex-direction: row;
        gap: 5vw;
        overflow-y: scroll;
    }

    .firstpopupimg {
        display: flex;
        align-self: center;
        width: 300vw;
    }

    .firstpopuptext * {
        margin-top: 5vh;
        display: flex;
        flex-direction: column;
        gap: 5vh;
    }
}